{% extends 'base.html' %}

{% block content %}

<br>
<br>

<!--Grid row-->
<div class="row wow fadeIn">

{% for each in item_names %}

    <!--Grid column-->
    <div style="margin-left:30px;">

    <!--Card-->
    <div class="card" style="height:300px;width:250px;">

        <!--Card image-->
        <div class="view overlay">
        <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
            alt="">
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
        <!--Category & Title-->
        <a href="" class="grey-text">
            <h5>Shirt</h5>
        </a>
        <h5>
            <strong>
            <a href="" class="dark-grey-text">{{each.name}}
                <span class="badge badge-pill">
                    <form method='POST'>
                        {% csrf_token %}
                        <input type="hidden" name="team_id" value="{{each.team.id}}" />
                        <input type="hidden" name="item_id" value="{{each.id}}" />
                        <button>Add to Cart</button>
                    </form>
                </span>

            </a>
            </strong>
        </h5>

        <h4 class="font-weight-bold blue-text">
            <strong>120$</strong>
        </h4>

        </div>
        <!--Card content-->

    </div>
    <!--Card-->

    </div>
    <!--Grid column-->

{% endfor %} 

</div>

{% endblock %}
    