{% extends 'base.html' %}

{% block content %}

{% for each in team_names %}

<head>

  <style>
     #backgroundImage {
          background-image: url({{back_img}});
          background-repeat: no-repeat;
          background-size:cover;
          backdrop-filter: opacity(0.7);
      }

  </style>

</head>

<body id='backgroundImage'>

<div class="jumbotron", style="margin-bottom: 0%;background-color:transparent;">
    <h5>
        <strong>
          <a href="{{each.get_absolute_url}}" class='white-text'> {{each.name}} </a>
        </strong>
    </h5>
</div>

</body>
{% endfor %}

{% endblock %}